<div>
  See all of your shouts <%= link_to current_user.email, current_user %>
  <ul>
    <li><%= link_to "See who you're following", :following %></li>
    <li><%= link_to "See who's following you", :followers %></li>
  </ul>
</div> 
<div>
<strong>Text shouts</strong>
  <%= form_for @text_subject do |form| %>
    <%= form.text_area :body, placeholder: "Shout it here" %>
    <%= form.submit "Shout it out!" %>
  <% end %>
</div> 
<div>
  <strong>Image shouts</strong>
  <%= form_for @image_subject do |form| %>
    <%= form.url_field :url, placeholder: "Paste link here" %>
    <div>
       <%= form.submit "Shout it out!" %>
    </div>
  <% end %>
</div>

<div>
  <%= render @shouts %>
</div>
