<div>
  <%= link_to current_user.email, current_user %>
  <%= link_to "See who you're following", :following %>
  <%= link_to "See who's following you", :followers %>
  <%= form_for @shout do |form| %>
    <%= form.text_area :body, placeholder: "Shout it here" %>
    <%= form.submit %>
  <% end %>
</div>
